#Footer{
    background-color: $gris_medio;
    text-align: center;
}
.Footer__redes{
    display: inline-block;
    float: left;
    margin-left: 20%;
}
.Footer__textos{
    display: inline-block;
    float: right;
    margin-right: 15%;
}
.Footer__redes__twitter{
    width: 44px;
    height: auto;
}
.Footer__redes__youtube{
    width: 74px;
    height: auto;
}
.Footer__redes__whatapp{
    width: 44px;
    height: auto;
}
.Footer__textos {
    ul {
        list-style: none;
    }
} 