.card{
    .card-body{
        img{
            width: 100%;
            height: auto;
        }
    } 
}

.card{
    .card-body{
        p{
            text-align: center;
            font-weight: bold;
            color: $azul;
        }
    }
}
.descripcion{
    display: block;
}
.descripcion__texto{
     margin-top: 25%;
}